.table-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px; 
  }

.centrado{
    text-align: center;
  }

  .condicionCorrecto{
    background-color: green;
    border-radius: 10px; 
    padding: 10px; 
    color: rgb(0, 0, 0); 
    font-weight: bold; 
    display: inline-block; 
  }
  
  .condicionAlerta{
    background-color: red;
    border-radius: 10px; 
    padding: 10px; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: inline-block;
  } 
  
  .correcto{
    color: green;
  }

  .alerta {
    color: red;
  }