<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listado de Dispositivos</h3>
                    </div>
                    <div class="card-body">
                        <table id="dispositivosTable" class="table table-bordered table-striped centrado">
                            <thead>
                                <tr>
                                    <th>IP</th>
                                    <th>Dispositivo</th>
                                    <th>Sistema Operativo</th>
                                    <th>RAM</th>
                                    <th>MAC Address</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dispositivoData of dispositivosData">
                                    <td>{{ dispositivoData.ipadress.direccion }}</td>
                                    <td>{{ dispositivoData.nombreDispositivo }}</td>
                                    <td>
                                        {{ dispositivoData.sistemaOperativo }}
                                    </td>
                                    <td>
                                        {{ dispositivoData.memoriaRam }}
                                    </td>
                                    <td>
                                        {{ dispositivoData.macaddress }}
                                    </td>
                                    <td>
                                        Correcto
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>IP</th>
                                    <th>Dispositivo</th>
                                    <th>Sistema Operativo</th>
                                    <th>RAM</th>
                                    <th>MAC Address</th>
                                    <th>Estado</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- [ngClass]="getClaseParaEstado(dispositivoData.sistemaOperativo, dispositivoData.memoriaRam)">
                                        {{ getClaseParaEstado(dispositivoData.sistemaOperativo, dispositivoData.memoriaRam) ===
                                        'condicionCorrecto' ? 'Correcto' : 'Alerta' }} -->