<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado de Dispositivos</h3>
          </div>
          <div class="card-body">
            <ng-container *ngIf="dispositivosData.length > 0; else noData">
              <table id="dispositivosTable" class="table table-bordered table-striped centrado">
                <thead>
                  <tr>
                    <th>IP</th>
                    <th>Dispositivo</th>
                    <th>Sistema Operativo</th>
                    <th>RAM</th>
                    <th>MAC Address</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dispositivoData of dispositivosData">
                    <td>{{ dispositivoData.ip }}</td>
                    <td>{{ dispositivoData.nombreDispositivo }}</td>
                    <td [ngClass]="{ 'correcto': dispositivoData.sogood, 'alerta': !dispositivoData.sogood }">
                      {{ dispositivoData.sistemaOperativo }}
                    </td>
                    <td [ngClass]="{ 'correcto': dispositivoData.ramgood, 'alerta': !dispositivoData.ramgood }">
                      {{ dispositivoData.memoriaRam }}
                    </td>
                    <td>
                      {{ dispositivoData.macaddress ? dispositivoData.macaddress : '-' }}
                    </td>
                    <td
                      [ngClass]="{ 'condicionCorrecto': dispositivoData.sogood && dispositivoData.ramgood, 'condicionAlerta': !(dispositivoData.sogood && dispositivoData.ramgood) }">
                      {{ dispositivoData.sogood && dispositivoData.ramgood ? 'Correcto' : 'Alerta' }}
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>IP</th>
                    <th>Dispositivo</th>
                    <th>Sistema Operativo</th>
                    <th>RAM</th>
                    <th>MAC Address</th>
                    <th>Estado</th>
                  </tr>
                </tfoot>
              </table>
            </ng-container>
            
            <!-- Mensaje en caso de que no haya datos -->
            <ng-template #noData>
              <table id="dispositivosTable" class="table table-bordered table-striped centrado">
                <thead>
                  <tr>
                    <th>IP</th>
                    <th>Dispositivo</th>
                    <th>Sistema Operativo</th>
                    <th>RAM</th>
                    <th>MAC Address</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="6" class="text-center">No hay datos para mostrar</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>IP</th>
                    <th>Dispositivo</th>
                    <th>Sistema Operativo</th>
                    <th>RAM</th>
                    <th>MAC Address</th>
                    <th>Estado</th>
                  </tr>
                </tfoot>
              </table>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>