<h2 mat-dialog-title class="modal-title">{{ switchData ? 'Editar Switch' : 'Agregar Switch' }}</h2>
<div mat-dialog-content>
    <form #switchForm="ngForm" (ngSubmit)="guardarCambios()" novalidate>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" id="id" name="id" [(ngModel)]="switchData.id" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="ip">IP</label>
            <input type="text" id="ip" name="ip" [(ngModel)]="switchData.ip" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="condicion">Condición</label>
            <select id="condicion" name="condicion" [(ngModel)]="switchData.condicion" class="form-control" required>
                <option value={{condicionSwitch.Encendido}}>Encendido</option>
                <option value={{condicionSwitch.Apagado}}>Apagado</option>
            </select>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="switchData.nombre" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="sector">Sector</label>
            <input type="text" id="sector" name="sector" [(ngModel)]="switchData.sector" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="estado">Estado</label>
            <input type="text" id="estado" name="estado" [(ngModel)]="switchData.estado" class="form-control" required>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
        </div>
    </form>
</div>