<h2 mat-dialog-title class="modal-title">{{ switchData.id != '' ? 'Editar Switch' : 'Agregar Switch' }}</h2>
<div mat-dialog-content>
    <form #switchForm="ngForm" (ngSubmit)="guardarCambios()" novalidate>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" id="id" name="id" [(ngModel)]="switchData.id" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="ip">IP</label>
            <input type="text" id="ip" name="ip" [(ngModel)]="switchData.ip" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="marca">Marca</label>
            <input type="text" id="marca" name="marca" [(ngModel)]="switchData.marca" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="modelo">Modelo</label>
            <input type="text" id="modelo" name="modelo" [(ngModel)]="switchData.modelo" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="sector">Sector</label>
            <input type="text" id="sector" name="sector" [(ngModel)]="switchData.sector" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="conexion">Conexión</label>
            <select id="conexion" name="conexion" [(ngModel)]="switchData.conexion" class="form-control" required>
                <option value={{conexionSwitch.Encendido}}>Encendido</option>
                <option value={{conexionSwitch.Apagado}}>Apagado</option>
            </select>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
        </div>
    </form>
</div>