<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label for="estadisticas1" style="margin-right: 10px;">Selecciona una opción:</label>
                    <select id="estadisticas1" (change)="actualizarEstadistica('estadisticas1')">
                        <option value="seleccionar" disabled selected></option>
                        <option value="graficoAgentes1">Agentes por sector</option>
                        <option value="graficoRAM1">Memorias RAM</option>
                        <option value="graficoSO1">Sistemas Operativos</option>
                        <option value="graficoCantidadTotal1">Cantidad de agentes/equipos</option>
                    </select>
                </div>
                <div class="card card-danger" style="margin-top: 20px;">
                    <div class="card-header">
                        <h3 class="card-title">{{titulo1}}</h3>
                    </div>
                    <div class="card-body">
                        <app-grafico-agentes *ngIf="mostrarGraficoAgentes1"></app-grafico-agentes>
                        <app-grafico-ram *ngIf="mostrarGraficoRam1"></app-grafico-ram>
                        <app-grafico-so *ngIf="mostrarGraficoSO1"></app-grafico-so>
                        <app-grafico-cantidad-total *ngIf="mostrarGraficoCantidadTotal1"></app-grafico-cantidad-total>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label for="estadisticas2" style="margin-right: 10px;">Selecciona una opción:</label>
                    <select id="estadisticas2" (change)="actualizarEstadistica('estadisticas2')">
                        <option value="seleccionar" disabled selected></option>
                        <option value="graficoAgentes2">Agentes por sector</option>
                        <option value="graficoRAM2">Memorias RAM</option>
                        <option value="graficoSO2">Sistemas Operativos</option>
                        <option value="graficoCantidadTotal2">Cantidad de agentes/equipos</option>
                    </select>
                </div>
                <div class="card card-success" style="margin-top: 20px;">
                    <div class="card-header">
                        <h3 class="card-title">{{titulo2}}</h3>
                    </div>
                    <div class="card-body">
                        <app-grafico-agentes *ngIf="mostrarGraficoAgentes2"></app-grafico-agentes>
                        <app-grafico-ram *ngIf="mostrarGraficoRam2"></app-grafico-ram>
                        <app-grafico-so *ngIf="mostrarGraficoSO2"></app-grafico-so>
                        <app-grafico-cantidad-total *ngIf="mostrarGraficoCantidadTotal2"></app-grafico-cantidad-total>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>