<!-- estadisticas.component.html -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <label for="opciones1" style="margin-right: 10px;">Selecciona una opción:</label>
                    <select id="opciones1" (change)="actualizarEstadistica('opciones1')">
                        <option value="seleccionar" disabled selected></option>
                        <option value="opcion1">Agentes por sector</option>
                        <option value="opcion2">Memorias RAM</option>
                        <option value="opcion3">Sistemas Operativos</option>
                        <option value="opcion4">Cantidad de personal/equipos</option>
                    </select>
                </div>
                <div class="card card-danger" style="margin-top: 20px;">
                    <div class="card-header">
                        <h3 class="card-title">Estadistica 1</h3>
                    </div>
                    <div class="card-body">
                        {{ estadistica1 }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <label for="opciones2" style="margin-right: 10px;">Selecciona una opción:</label>
                    <select id="opciones2" (change)="actualizarEstadistica('opciones2')">
                        <option value="seleccionar" disabled selected></option>
                        <option value="opcion1">Agentes por sector</option>
                        <option value="opcion2">Memorias RAM</option>
                        <option value="opcion3">Sistemas Operativos</option>
                        <option value="opcion4">Cantidad de personal/equipos</option>
                    </select>
                </div>
                <div class="card card-success" style="margin-top: 20px;">
                    <div class="card-header">
                        <h3 class="card-title">Estadistica 2</h3>
                    </div>
                    <div class="card-body">
                        {{ estadistica2 }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<script>
    const select = document.getElementById('opciones');
    const opcionTexto = document.getElementById('opcionTexto');

    select.addEventListener('change', function() {
        opcionTexto.textContent = select.options[select.selectedIndex].text;
    });
</script>