<div class="hold-transition login-page">
    <div class="login-box animate__animated animate__backInLeft">
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Ingrese su datos para entrar al sistema</p>

                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="input-group mb-3" [ngClass]="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched ? 'error' : ''">
                        <input type="email" class="form-control" formControlName="email" placeholder="Email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope" style="color: rgb(48, 37, 37);"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3" [ngClass]="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched ? 'error' : ''" >
                        <input type="password" class="form-control" formControlName="password" #password
                            placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock" style="color: rgb(48, 37, 37);"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Ingresar</button>
                        </div>
                        <div *ngIf="incorrectCredentials" class="text-danger mt-2">
                            {{error}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>