.btn-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
  }
  
  .table-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
  }

  .centrado{
    text-align: center;
  }