<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Listado de Alertas</h3>
            </div>
            <div class="card-body">
              <table id="alertasTable" class="table table-bordered table-striped centrado">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Alerta</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let alertaData of alertasData; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>
                      {{ alertaData.nombre ? ("El equipo " + alertaData.nombre + " con Sistema Operativo " + alertaData.SO +  " y RAM de " + alertaData.RAM + " está obsoleto. ") : alertaData.etiqueta ? "El switch: " + alertaData.etiqueta + " está desconectado." : "" }}
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>#</th>
                    <th>Alerta</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>