<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Listado de Ips</h3>
            </div>
            <div class="card-body">
              <div class="table-actions">
                <button class="btn btn-success btn-sm"  (click)="abrirFormulario()"><i class="fa fa-plus"></i> Agregar
                  Nueva</button>
              </div>
              <table id="ipsTable" class="table table-bordered table-striped centrado">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>IP</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let ipData of ipsData">
                    <td>{{ ipData.id }}</td>
                    <td>{{ ipData.ip }}</td>
                    <td>
                      <div class="btn-actions">
                        <button type="button" class="btn btn-primary btn-sm" (click)="abrirFormulario(ipData)"><i
                            class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="deleteIp(ipData)"><i
                            class="fas fa-trash"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>IP</th>
                    <th>Acciones</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>