.condicionApagado{
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
  display: inline-block;
}

.condicionEncendido{
  background-color: green;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
  display: inline-block;
}

.btn-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.table-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.centrado{
  text-align: center;
}