<h2 mat-dialog-title class="modal-title">{{ titulo }}</h2>
<div mat-dialog-content>
  <form [formGroup]="sistemasOperativosForm" (ngSubmit)="guardarCambios()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input [ngClass]="sistemasOperativosForm.get('nombre')?.hasError('required') && sistemasOperativosForm.get('nombre')?.touched ? 'error' : ''" type="text" id="nombre" name="nombre" formControlName="nombre" class="form-control" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="version">Version</label>
        <input [ngClass]="sistemasOperativosForm.get('version')?.hasError('required') && sistemasOperativosForm.get('version')?.touched ? 'error' : ''" type="text" id="version" name="version" formControlName="version" class="form-control" autocomplete="off">
      </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="sistemasOperativosForm.invalid">Guardar</button>
      <button type="button" class="btn btn-dark" (click)="cancelarEdicion()">Cancelar</button>
    </div>
  </form>
</div>