.container {
  background-color: rgb(216, 215, 213);
  border-radius: 8px;
}

.msg {
  color: black;
}

.botonNo {
  margin: 0 auto;
  background-color: #47464b;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.botonNo:hover {
  background-color: #403f41;
}

.botonSi {
  margin: 0 auto;
  background-color: #4400ff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.botonSi:hover {
  background-color: #3b18b8;
}