<h2 mat-dialog-title class="modal-title">{{ titulo }}</h2>
<div mat-dialog-content>
  <form [formGroup]="agenteForm" (ngSubmit)="guardarCambios()">
    <div class="form-group">
      <label for="ip">IP</label>
      <input [value]="agenteData.ip.id !== -1 ? agenteData.ip.direccion : ''" type="text" id="ip" name="ip" formControlName="ip" class="form-control" list="ipsList" autocomplete="off">
      <datalist id="ipsList">
        <option *ngFor="let ip of ips" [value]="ip.direccion">{{ip.direccion}}</option>
      </datalist>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input [ngClass]="agenteForm.get('nombre')?.hasError('required') && agenteForm.get('nombre')?.touched ? 'error' : ''" type="text" id="nombre" name="nombre" formControlName="nombre" class="form-control" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label>
      <input [ngClass]="agenteForm.get('apellido')?.hasError('required') && agenteForm.get('apellido')?.touched ? 'error' : ''" type="text" id="apellido" name="apellido" formControlName="apellido" class="form-control" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="sector">Sector</label>
      <select id="sector" name="sector" formControlName="sector" class="form-control">
        <option *ngFor="let sector of sectores" [value]="sector.id" [selected]="sector.id === agenteForm.get('sector')?.value">{{ sector.nombre }}</option>
      </select>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="agenteForm.invalid">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
    </div>
  </form>
</div>