/* Estilos para la fila de acciones de la tabla */
.table-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px; /* Ajustar este valor según el espacio deseado entre el botón y la tabla */
  }

.centrado{
    text-align: center;
  }