<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Listado de Agentes-Dispositivos</h3>
                    </div>
                    <div class="card-body">
                        <ng-container *ngIf="agentesDispositivosData.length > 0; else noData">
                            <table id="agenteDispositivoTable" class="table table-bordered table-striped centrado">
                                <thead>
                                    <tr>
                                        <th>IP</th>
                                        <th>Agentes</th>
                                        <th>Dispositivos</th>
                                        <th>MAC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let agenteDispositivoData of agentesDispositivosData">
                                        <td>{{ agenteDispositivoData.direccion }}</td>
                                        <td>{{ agenteDispositivoData.nombre_agente  &&
                                            agenteDispositivoData.apellido_agente ?
                                            agenteDispositivoData.nombre_agente + ' ' +
                                            agenteDispositivoData.apellido_agente : '-' }}</td>
                                        <td>{{ agenteDispositivoData.nombre_dispositivo ?
                                            agenteDispositivoData.nombre_dispositivo :
                                            '-' }}</td>
                                        <td>{{ agenteDispositivoData.mac_dispositivo ?
                                            agenteDispositivoData.mac_dispositivo :
                                            '-' }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>IP</th>
                                        <th>Agentes</th>
                                        <th>Dispositivos</th>
                                        <th>MAC</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </ng-container>
                        <!-- Mensaje en caso de que no haya datos -->
                        <ng-template #noData>
                            <table id="agenteDispositivoTable" class="table table-bordered table-striped centrado">
                                <thead>
                                    <tr>
                                        <th>IP</th>
                                        <th>Agentes</th>
                                        <th>Dispositivos</th>
                                        <th>MAC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5" class="text-center">No hay datos para mostrar</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>IP</th>
                                        <th>Agentes</th>
                                        <th>Dispositivos</th>
                                        <th>MAC</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>